@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "Home Page";
}

<div class="product-info">
    <img src="~/img/VanGogh.jpg" />
    <h3>Replica Painting</h3>
    <ul class="product-props">
        <li>Price: $99.99</li>
        <li>Artist: Van Gogh</li>
        <li>Title: </li>
        <li>Description: Self-portrait</li>
    </ul>
    <button id="buyButton">Buy</button>
</div>

<div id="theForm">
    <form>
        <label>Your Name:</label><br />
        <input />
        <label>Email</label><br />
        <input type="email"/>
        <label>Subject:</label><br />
        <input type="text"/>
        <label>Message:</label><br />
        <textarea rows="4"></textarea>
        <input type="submit" value="Send Message" />
    </form>
</div>

<div>
    <div id="loginToggle">Login</div>
    <form class="popup-form">
        <div>
            <label>Username</label>
            <input />
        </div>
        <div>
            <label>Password</label>
            <input type="password"/>
        </div>
        <div>

            <input type="checkbox"/>
            <label>Remember Me?</label>
        </div>
        <div>
            <input type="submit" value="Login"/>
        </div>
    </form>
</div>
